# {{ ansible_managed }}
# Local repository for Slurm packages

{% for section in local_repo_sections %}
# {{ section }}
deb [trusted=yes] file://{{ local_repo_mount }}/offline_repo/{{ section }} ./

{% endfor %}